body {
   font-family: 'Roboto', sans-serif;
  font-weight: 300;
/*//background-image: url('boiling stones1.jpg');*/
}

header {
  padding: 1px 0;
 background-color: #33b5e5;
  color: #ffffff;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}
    
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 8;
    padding: 8;
    background-color: #f1f1f1;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: darkorange;
  color: yellow;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 0px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #f7f6f1;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
/* For tablets: */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



header h1 {
  font-weight: 700;
  margin: 0;
  color: #fff;
 text-shadow: 2px 2px 4px #000;
}

header nav {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

header p {
  color: #fff;
  padding: 0 5px;
  margin: 0;
  text-shadow: 2px 2px 2px #000;
}
/* Navbar links */
header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display: block;
    padding: 8px 8px;
    color: floralwhite;
    font: 20px;
    font-family: "Courier New",monospace;
    text-align: center;
}

p a:hover {
    background-color: purple;
    color: whitesmoke;
}

.jumbotron {
  /* display: flex; */
  align-items: center;
  background-size: cover;
  color: #ffffff;
 /*height: 200px;*/
  text-shadow: 0.25px 0.25px 0.25px #000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}
.wrapper {
  margin: auto;
  max-width: 75rem;
}
section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}
.col-md-4 {
  margin: 0 0 30px;
}
.col-md-8 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}